.topNavBar {
    position: relative;
    width: 100%;
    height: 65px;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentContainer{
    width: 100%;
    max-width: 2000px;
    height: 100%;
    display: flex;
    align-items: center;
}
.logoImage{
    height:100%;
    margin-right:auto;
    margin-left:10px;
}
.navButton {
    height: 60%;
    width: 110px;
    background-color: transparent;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--txt1-color); 
    font-weight:bold;
}
    .navButton:hover {
        background-color: var(--btn1-color);
        color: var(--txt1-color);
    }
.highlightedNavButton {
    height: 60%;
    width: 110px;
    background-color: var(--btn1-color);
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--txt1-color);
    font-weight: bold;
}

.navMenuMobileContainer{
    display:none;
    height:46px;
    width:46px;
    margin-right:15px;
    border-radius:50%;
    align-items:center;
    justify-content:center;
    z-index:2;
}
    .navMenuMobileContainer:hover {
        background-color: var(--bg-color);
    }
.navMenuMobileContainerOpen {
    display: none;
    height: 46px;
    width: 46px;
    margin-right: 15px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: var(--bg-color);
}

.navMenuMobileSvg {
    fill: var(--btn1highlight-color);
}
.pagesContainer {
    width: 100%;
    height: 100%;
    max-width: 2000px;
}

/*Hides nav buttons when in mobile and shows mobile nav menu*/
@media only screen and (max-width: 650px) {
    .navButton {
        display: none;
    }
    .highlightedNavButton{
        display:none;
    }

    .navMenuMobileContainer {
        display: flex;
    }
    .navMenuMobileContainerOpen{
        display:flex;
    }
}
