.topNavBar{
    width:100%;
    height:65px;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:right;
}
.logoImage{
    height:90%;
    margin-right:auto;
    margin-left:10px;
}
.navButton {
    height: 60%;
    width: 110px;
    background-color: transparent;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
}
.navButton:hover{
    background-color:white;
    color:black;
}

.navMenuMobileContainer{
    display:none;
    height:46px;
    width:46px;
    margin-right:15px;
    border-radius:50%;
    align-items:center;
    justify-content:center;
    z-index:2;
}
.navMenuMobileContainer:hover{
    background-color:white;
}
.navMenuMobileContainer:hover > .navMenuMobileSvg{
    fill:black;
}
.navMenuMobileSvg{
    fill:white;
    
}
.pagesContainer {
    width: 100%;
    height: calc(100% - 65px);
    background-color: red;
}

/*Hides nav buttons when in mobile and shows mobile nav menu*/
@media only screen and (max-width: 650px) {
    .navButton {
        display: none;
    }

    .navMenuMobileContainer {
        display: flex;
    }
}
