#app {
    position: absolute;
    width: 100%;
    height:100vh;
    background-color:var(--bg-color);
}
body {
    width:100%;
    height:100%;
    margin:0px;
}

#app {
    --bg-color: #151a21;
    --nav-color: #242c37;
    --comp1-color: #242c37;
    --txt1-color: white;
    --btn1-color: #5d7290;
    --btn1highlight-color: #526580;
    --comp2-color: #323d4d;
}