html {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

html {
    --bg-color: #000000;
    --nav-color: #242424;
    --comp1-color: #2a2a2a;
    --txt1-color: white;
    --btn1-color: #777777;
    --btn1highlight-color: #8b8b8b;
    --comp2-color: #242424;;
}
body {
    width: 100%;
    height: 100%;
    margin:0px;
}
#app {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
