@page "/AboutMe"
@using PortfolioWebsite.Models
@using PortfolioWebsite.Component
<div class="aboutMePageContainer">
    <h1>About Me</h1>
    <div class="aboutMeParagraphContainer">
        <p>I'm a developer who loves solving complex issues. Currently, I am attending Indiana University Southeast and pursuing my bachelor's in computer science. I am passionate about coding and solving problems. I'm excited to work with other programmers and to learn new skills and tools!</p>
    </div>
    <h1>Skills</h1>`
    <div class="skillsContainer">
        @for (int i = 0; i < allSkills.allSkills.Count; i++)
        {
            Skill currentSkill = allSkills.allSkills[i];
            <SkillCard Name="@currentSkill.Name" ImagePath = "@currentSkill.ImagePath"></SkillCard>
        }
    </div>
</div>

@code {
    AllSkills allSkills = new AllSkills();

}
