.contactPageContainer{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.contactPageContainer h2{
    color:var( --txt1-color);
    font-family:sans-serif;
    font-size:2rem;
}
.emailLinkContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 200px;
    min-width: 255px;
    max-width: 600px;
    background-color: var(--comp1-color);
    border-radius: 14px;
}
.emailLinkContainer a{
    font-size:1.2rem;
    color: var(--txt1-color); 
    text-decoration:underline;
    font-family:sans-serif;
}
.emailLinkContainer p{
    font-size:1.1rem;
    color: var(--txt1-color); 
    font-family:sans-serif;

}
.emailIconContainer {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contactFormContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-width: 255px;
    max-width: 600px;
    background-color: var(--comp1-color);
    border-radius: 14px;
    margin-bottom:20px;
}


.normalInput {
    width: 85%;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
}

.messageInput {
    width: 85%;
    height: 60px;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    resize: none;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.contactFormContainer button {
    width: 130px;
    height: 38px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--btn1-color);
    color: var(--txt1-color);
    margin-bottom: 20px;
    font-size:1rem;
}

.contactFormContainer button:hover {
    background-color: var(--btn1highlight-color)
}
.loadingSvg{
    width: 100px;
    height: 100px;
}
.emailSentSvg{
    width: 100px;
    height: 100px;
}
.contactPageContainer h3{
    color:var( --txt1-color);
    font-family:sans-serif;
    font-size:2rem;
    margin: 0px;
    margin-top: 10px;
}
