.homeContainer {
    width: 100%;
}

.introContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.introTextContainer {
    margin-left: 50px;
    max-width: 1200px;
    margin-right: 25px;
}

.introTextContainer h2 {
    margin: 0px;
    margin-top: 12px;
    font-family: sans-serif;
    color: var(--txt1-color);
}
.cardContainer{
    background-color:var(--comp1-color);
    padding: 15px;
    margin-top: 10px;
    border-radius:8px;
    letter-spacing:2px;
}
.introContainer p {
    margin: 0px;
    margin-top: 12px;
    font-size: 20px;
    font-family: sans-serif;
    color: var(--txt1-color);
}

.githubLinkedInCon {
    display: flex;
    width: 250px;
    height: 50px;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.resumeButton {
    width: 100px;
    height: 44px;
    border: none;
    border-radius: 6px;
    background-color: var(--btn1-color);
    color: var(--txt1-color);
    font-size: 1.2rem;
    text-decoration: none;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resumeButton:hover {
    background-color: var(--btn1highlight-color)
}

.githubLinkedInLinks {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.githubIcon {
    fill: white;
}

.githubIcon:hover {
    fill: rgb(197, 197, 197);
}

.linkedInIcon {
    fill: white;
}

.linkedInIcon:hover {
    fill: rgb(197, 197, 197);
}

.introContainer img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 50%;
    border: solid;
    border-color: var(--nav-color);
    border-width: 3px;
}
.aboutMeLink{
    color: var(--btn1-color);
}

.recentProjectsHeader {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    color: var(--txt1-color);
    font-size: 2rem;

}

.recentProjectsContainer {
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    align-items: start;
    justify-items: center;
}

/*Adjust photo of me and intro text for mobile*/
@media only screen and (max-width: 750px) {
    .introContainer {
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 0px;
    }

    .introTextContainer {
        margin-left: 0px;
    }

    .introTextContainer {
        width: 90%;
        margin-right: 0px;
    }

    .introContainer img {
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
}