.homeContainer{
    width:100%;
}

.introContainer{
    width:100%;
    height:400px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.introTextContainer {
    width: 400px;
    height: 275px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.introContainer h2 {
    margin: 0px;
    font-size: 40px;
    font-family: sans-serif;
    color: var(--btn1-color);
    
}
.introContainer h4 {
    margin: 0px;
    margin-top: 12px;
    font-size: 15px;
    font-family: sans-serif;
    color: var(--txt1-color);
}
.introContainer p {
    margin: 0px;
    margin-top: 12px;
    font-size: 20px;
    font-family: sans-serif;
    color: var(--txt1-color);
}
.introTextContainer a {
    width: 90px;
    height: 38px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--btn1-color);
    color: var(--txt1-color);
    font-size:1rem;
    text-decoration:none;
    font-family:sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
}

.introTextContainer a:hover{
    background-color:var(--btn1highlight-color)
}
.introContainer img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid;
    border-color: var(--btn1highlight-color);
    border-width: 3px;
}

.recentProjectsHeader {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    color: var(--txt1-color);
    font-size:2rem;
}
.recentProjectsContainer {
    width: 90%;
    margin-left:5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    align-items: start;
    justify-items: center;
}
/*Adjust photo of me and intro text for mobile*/
@media only screen and (max-width: 750px) {
    .introContainer{
        flex-direction:column-reverse;
        height:600px;
        width:100%;
    }
    .introTextContainer{
        width:90%;
        margin-right:0px;
    }
    .introContainer img {
        margin-top:30px;
    }
}

