@page "/"
<PageTitle>Home</PageTitle>
<div class="homeContainer">
    <div class="introContainer">
        <div class="introTextContainer">
            <h1>Hi, I am Sebastian</h1>
            <h4>Developer</h4>
            <p>I am passionate about coding and solving problems. I am passionate about coding and solving problems.</p>
            <button>Resumé</button>
        </div>
        <img src="Images/sebastian.png"/>
    </div>
</div>


